.post{
    margin: 20px;
    padding: 15px;
    width: 460px;
    height:250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.post:hover{
    opacity: 0.7;
    scale: 1.02;
}
b{
    font-size: 25px;
}
.content{
    font-size: 20px;
}
.counts{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.box{
    display: flex;
    align-content: center;
}
hr{
    margin-bottom: 10px;
}