.postcontainer{
    margin: auto;
    background-color: rgb(204, 228, 249);
    margin-top: 40px;
    border-radius: 20px;
    width:80%;
    padding: 20px;
    display: flex;

}
h2{
    font-size: 50px;
}
.side{
    flex:0.15;
    height:fit-content;
    border-radius: 20px;
    margin-right: 30px;
}
.sidebar{
    /* height:350px; */
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 12px;
    padding: 25px;
    /* margin-right: 30px; */
}

.postbody{
    flex:0.8;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 25px;
}
.bold{
    font-weight: 700;
}
.outbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    font-size: 18px;
}
.box{
    display: flex;
}
.postcontent{
    margin: 20px 0 20px 0;
    background-color: rgb(231, 231, 232);
    padding: 12px;
    border-radius: 10px;
    max-height: 500px;
    overflow-y:auto;
    font-size: 25px;
    font-weight: 400;
}
.group2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    height: 50px;
}
.loader{
    top: 50%;
  left: 50%;
  position: absolute;
  width: 100px;
  transform: scale(2.5);
}

.commenthead{
    font-size: 30px;
    font-weight: 600;
}
.commentbox{
    border-radius:10px;
    min-height: 40px;
    font-size: 20px;
    width: 92%;
    padding: 10px;
    margin-right: 20px;
    max-width: 100%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#btn2{
    margin-top: 15px;
}

.deletemodal{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    color:black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#tag{
    color:black;
    border-radius: 8px;
    font-size: 15px;
    width:fit-content;
    padding: 5px 12px 5px 12px;
    margin-right: 10px;
    background-color:white;
    font-style: italic;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}
#tags{
    display: flex;
    margin-left: -16px;
}